*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

header{
  width: 90%;
  margin: auto;
}

.logo-container{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 15px;
}
.logo{
  font-weight: 400;
  margin: 5px;
  font-size: 20px;
}
nav{
}
.nav-links{
  text-align: center;
  justify-content: space-around;
  list-style: none;
  margin-bottom: 20px;
}
.nav-link a{
  display: block;
  text-decoration: none;
  color: #5f5f79;
  font-size: 18px;
  padding-bottom: 5px;
  padding-top: 5px;
}
.cart{
  text-align: center;
  margin-bottom: 28px;
}
.presentation{
  width: 90%;
  margin: auto;
  min-height: 80vh;
  align-items: center;
}
.introduction{
  flex:0.95;
}
.intro-text h1{
  text-align: center;
  font-size: 33px;
  font-weight: 400;
  background: linear-gradient(to right, #494964, #6f6f89);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro-text p{
  text-align: center;
  margin-top: 5px;
  font-size: 20px;
  color: #585772;
}
.cta{
  padding: 25px 0px 0px 0px;
  text-align: center;
}
.cta-select{
  border: 2px solid #c36cbb;
  background: transparent;
  color: #c36cbb;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 18px;
}
.cta-add{
  background: #c36cbb;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 18px;
  border: none;
  color: #fff;
  margin: 30px 0px 0px 30px;
}
.cover img.matebook{
  display: block;
  margin: auto;
  height: 50vh;
  flex: 1;
  filter: drop-shadow(0px 5px 3px black);
}
.big-circle{
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
  opacity: 0.6;
  height: 80%;
}
.medium-circle{
  display: none;
}
.small-circle{
  display: none;
}

.cover{
  position: relative;
}
.cover .laptop-select{
  max-width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
}
.cover .laptop-select img{
  width: 20px;
  margin-top: 10px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 10px;
}



@media (min-width: 1000px){
  .presentation{
    display: flex;
  }
  .intro-text h1{
    text-align: left;
    font-size: 44px;
  }
  .intro-text p{
    text-align: left;
    font-size: 22px;
  }
  .cta{
    padding: 50px 0px 0px 0px;
    text-align: left;
  }
  .cta-select{
    border: 2px solid #c36cbb;
    background: transparent;
    color: #c36cbb;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 18px;
  }
  .cta-add{
    background: #c36cbb;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 18px;
    border: none;
    color: #fff;
    margin: 30px 0px 0px 30px;
  }
  .cover img.matebook{
    text-align: left;
    height: 60vh;
    flex: 1;
    filter: drop-shadow(0px 5px 3px black);
  }
  .big-circle{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.6;
    height: 80%;
  }
  .medium-circle{
    position: absolute;
    top: 30%;
    right: 30%;
    z-index: -1;
    opacity: 0.9;
    height: 60%;
  }
  .small-circle{
    position: absolute;
    z-index: -1;
    left: 20%;
    bottom: 0%;
  }
  .cover{
    position: relative;
  }
  .cover .laptop-select{
  	max-width: 100%;
  	display: flex;
  	position: absolute;
    right: 0px;
  }

  .cover .laptop-select img{
    width: 20px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
  }
}

@media (min-width: 800px){
  header{
    display: flex;
    width: 90%;
    margin: auto;
    height: 100px;
    align-items: center;
  }

  .logo-container{
    display: flex;
    flex: 1;
    justify-content: flex-start;
  }
  .logo{
    font-weight: 400;
    margin: 5px;
  }
  nav{
    flex: 2;
  }
  .nav-links{
    text-align: none;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-bottom: none;
  }
  .nav-link a{
    text-decoration: none;
    color: #5f5f79;
    font-size: 18px;
  }
  .cart{
    flex: 1;
    justify-content: flex-end;
    margin-bottom: 14px;
  }
  .logo-container{
    margin-top: 0px;
    margin-bottom: 20px;
    justify-content: none;
  }
  .logo{
    font-size: 18px;
  }
}







@media screen and (max-width: 374px){
  header{
    width: 90%;
    margin: auto;
  }

  .logo-container{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 15px;
  }
  .logo{
    font-weight: 400;
    margin: 5px;
    font-size: 20px;
  }
  nav{
  }
  .nav-links{
    text-align: center;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 20px;
  }
  .nav-link a{
    display: block;
    text-decoration: none;
    color: #5f5f79;
    font-size: 18px;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .cart{
    text-align: center;
    margin-bottom: 28px;
  }
  .presentation{
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
  }
  .introduction{
    flex:0.95;
  }
  .intro-text h1{
    text-align: center;
    font-size: 29px;
    font-weight: 400;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .intro-text p{
    text-align: center;
    margin-top: 5px;
    font-size: 19px;
    color: #585772;
  }
  .cta{
    padding: 15px 0px 0px 0px;
    text-align: center;
  }
  .cta-select{
    border: 2px solid #c36cbb;
    background: transparent;
    color: #c36cbb;
    width: 100px;
    height: 40px;
    cursor: pointer;
    font-size: 16.5px;
  }
  .cta-add{
    background: #c36cbb;
    width: 100px;
    height: 40px;
    cursor: pointer;
    font-size: 16.5px;
    border: none;
    color: #fff;
    margin: 30px 0px 0px 30px;
  }
  .cover img.matebook{
    display: block;
    margin: auto;
    height: 50vh;
    flex: 1;
    filter: drop-shadow(0px 5px 3px black);
  }
  .cover{
    position: relative;
  }
  .cover .laptop-select{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 2px;
  }
  .cover .laptop-select img{
    width: 20px;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
  }
}
